@import "tailwindcss";

/* html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #EEAECA;
  background: linear-gradient(45deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
  overflow: hidden;
} */

@layer components {
  .btn {
    @apply px-4 py-2 rounded-lg bg-red-600 hover:bg-red-500 transition;
  }
}